div {
    height: 10vh;
    margin: 3vh 10%;
    background-color: green;
}

div:first-child {
    box-shadow: 0px 5px 15px -2px black;
}

div:nth-child(2) {
    box-shadow: -6px -3px 10px 0px black;
}

div:nth-child(3) {
    box-shadow: 0px 0px 10px 3px red;
}

div:nth-child(4) {
    box-shadow: inset 0px 0px 20px 13px yellow;
}

.ironBall {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: ghostwhite;
    box-shadow: inset -30px -30px 150px 50px black;
}