/* the background design */
@import "elements/background";

/* button design */
@import "elements/button";

/* div */
@import "elements/div";


body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
    background-color: $backGround;
}

#container {
    width: $myWidth
}

input[type=button] {
    background-color: $buttonBackground;
    color: $buttonText;
    font-size: $buttonFontSize;
    margin-top: $buttonTopMargin;
}

div {
    background-color: $divBackground;
    border: $divBorder;
    color: $divTextColor;
}